<h1>Edit Category with id = {{id}}</h1>

<div *ngIf="load">

<form [formGroup]="catForm" (ngSubmit)="edit()" >
<div class="example-container">
 
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput name="name"  formControlName="name">

  </mat-form-field>
  <br>
  <button [disabled]="!catForm.valid" mat-raised-button color="accent">Edit</button>

</div>
</form>

</div>
<mat-spinner *ngIf="!load"></mat-spinner>
