<h1>Add Category</h1>
<form [formGroup]="catForm" (ngSubmit)="add()" >
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput name="id"  formControlName="id">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput name="name"  formControlName="name">

  </mat-form-field>
  <br>
  <button [disabled]="!catForm.valid" mat-raised-button color="accent">Add</button>

</div>
</form>

